.class {
    height: 100px;
    background-color: blue;
}
.col-xs-1{
    width: 8.33%
}
.col-xs-2{
    width: 16.66%
}
.col-xs-3{
    width: 25%
}
.col-xs-4{
    width: 33.33%
}
.col-xs-5{
    width: 41.66%
}
.col-xs-6{
    width: 50%
}
@media only screen and ( min-width: 900px){
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%
    }
    .col-s-3{
        width: 25%
    }
    .col-s-4{
        width: 33.33%
    }
    .col-s-5{
        width: 41.66%
    }
    .col-s-6{
        width: 50%
    }
}